.search-container{
    background-color: rgba(0, 0, 0, 0.837);
    text-align: center;
    line-height: 40px;
}
.search-container input{
    width: 75%;
}

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    margin-left: 30px;
    border-right: 1px solid lightgray;
    margin-right: 5px;

}
.cart-container{
border: 0;
}