.header{
    text-align: center;
}
.logo{
    height: 50px;
}
.header nav {
    background-color: black;
    line-height: 40px;
    text-align: left;
    
}
.header nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 5px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: lightgray;
    border-radius: 2px;

}